<div class="container-fluid">
    <div class="row">
        <aside class="col-md-1">
            <div class="menu-container">
                <ul class="menu">
                    <li class="menu__item"><a class="menu__link" href="#/dashboard"><span
                            class="link-text">Рабочий стол</span></a></li>
                    <li class="menu__item"><a class="menu__link" href="#/deals"><span
                            class="link-text">Сделки</span></a></li>
                    <li class="menu__item"><a class="menu__link" href="#/deals"><span class="link-text">Контакты</span></a>
                    </li>
                    <li class="menu__item"><a class="menu__link" href="#/deals"><span class="link-text">Аналитика</span></a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="col-md-11">
            <div class="content-wrap">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <header class="header-wrap">
                                <h2>Сделки</h2>
                            </header>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="">
                                <div class="table-wrap">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Название сделки</th>
                                            <th>Основной контакт</th>
                                            <th>Компания контакта</th>
                                            <th>Этап сделки</th>
                                            <th>Бюджет, грн</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="deal in deals">
                                            <td></td>
                                            <td>{{deal.name}}</td>
                                            <td>john@example.com</td>
                                            <td>John</td>
                                            <td ng-style={'background-color':'{{deal.stage_color}}'}>Doe</td>
                                            <td>john@example.com</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <pagination-directive></pagination-directive>

                                <!--<ul class="pagination">
                                    <li><a class="prev" href="" ng-click="getPrev()">«</a></li>
                                   &lt;!&ndash; <li class="item_" ng-repeat="i in list track by $index">
                                        <a class="item" ng-click="setPage(i)"
                                           href="">{{i}}</a>
                                    </li>&ndash;&gt;
                                    <li class="item_">
                                        <a class="item" ng-click="setPage(i)"
                                           href="">{{i}}</a>
                                    </li>
                                    <li><a class="next" href="" ng-click="getNext()">»</a></li>
                                </ul>-->

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>